@charset "utf-8";
/* CSS Document */

a,
.theme_color,
.main-slider h2,
.main-slider .left-title,
.btn-style-two:hover,
.sec-title .title,
.header-top .top-left ul li .fa,
.header-top .top-right .social-box li a:hover,
.main-header .header-top .language > a,
.main-header .info-box .icon-box,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.main-slider .social-box a:hover,
.main-footer .logo-widget .text a,
.list-style-one li .icon,
.main-footer .list li a:hover,
.news-widget-block .widget-inner h3 a:hover,
.main-footer .footer-bottom .copyright a,
.main-footer .footer-bottom .footer-nav li a:hover,
.project-block .inner-box .image .category,
.services-block-two .inner-box h3 a:hover,
.project-block .inner-box .image h3 a:hover,
.team-block .inner-box .image .social-icons li a:hover,
.team-block .inner-box .lower-box h3 a:hover,
.header-top-two .top-left .social-box li a:hover,
.main-header .header-top-two .language > a,
.services-section-two .title-column .inner-column .read-more,
.services-block-three .inner-box .read-more,
.list-style-two li .icon,
.page-breadcrumb li,
.sidebar-title .title,
.page-breadcrumb li a:hover,
.list-style-three li .icon,
.business-widget .widget-content h3,
.brochure-widget .brouchers li a:hover,
.footer-style-two .usefull-links li a:hover,
.footer-style-two .footer-bottom .copyright a,
.footer-style-two .footer-bottom .footer-nav li a:hover,
.footer-style-two .service-list li a:hover,
.services-block-four .inner-box .icon-box,
.accordion-box.style-two .block.active-block::before,
.fact-counter.style-two .column .inner .icon-box,
.project-tab .product-tab-btns .p-tab-btn:hover,
.video-box .overlay-box span,
.new-posts a:hover,
.shop-list li a,
.checkout-page .default-links li a,
.product-details .basic-details .details-header .rating span,
.shop-page .prod-tabs .add-review .rating .rate-box:hover,
.shop-page .prod-tabs .add-review .rating .rate-box:focus,
.shop-page .prod-tabs .add-review .rating .rate-box:active,
.shop-page .prod-tabs .reviews-container .rev-header .rating,
.sidebar .list li a:hover,
.cart-table tbody tr .remove-btn,
.sidebar .search-box .form-group button,
.sidebar .popular-posts .post a,
.error-section .go-back:hover,
.contact-page-section .info-column .content-boxed ul li .icon,
.sidebar .popular-posts .post a:hover,
.commingsoon-section .left-column .social-boxed li a:hover,
.project-tab .product-tab-btns .p-tab-btn.active-btn,
.project-block-two .inner-box .image .overlay-box-two .title,
.project-block-two .inner-box .image .overlay-box-two h3 a:hover,
.project-block-two .inner-box .image .overlay-box-two .read-more,
.project-block-two .inner-box .image .overlay-box .category,
.testimonial-block-two .inner-box .author-info .info-inner .designation,
.main-slider .owl-nav .owl-prev:hover, .main-slider .owl-nav .owl-next:hover,
.main-header .outer-box .option-box .cart-box .cart-panel .btns-boxed li a:hover,
.main-header .outer-box .option-box .cart-product .inner h3 a:hover,
.main-header .outer-box .option-box .cart-product .inner .cross-icon:hover,
.news-block .inner-box:hover .content-column .column-inner h3 a,
.services-block-five .inner-box .lower-content h3 a:hover,
.shop-item .inner-box .lower-content h6 a:hover,
.testimonial-widget .widget-content .author,
.widget-post .post-inner .lower-content h3 a:hover,
.blog-single .inner-box .news-posts .prev-post a:hover,
.blog-single .inner-box .news-posts .next-post a:hover,
.news-block-two .inner-box .lower-content .read-more:hover,
.news-block-two .inner-box:hover .lower-content h3 a,
.services-block-five .inner-box .lower-content .read-more:hover,
.services-block-five .inner-box .lower-content .arrow-icon:hover,
.main-header .outer-box .option-box .cart-box .cart-box-btn:hover,
.projects-page-section .filters .filter-tabs .filter.active,
.projects-page-section .filters .filter-tabs .filter:hover,
.project-info-block .block-info .project-info .icon{
	color:#bb54e1;
}

/*Background Color*/

.btn-style-two,
.btn-style-three:hover,
.btn-style-four,
.checkout-btn,
.btn-style-five,
.scroll-to-top:hover,
.social-icon-one li a:hover,
.cart-table .cart-header,
.shop-item .inner-box .image .sale,
.post-widget .owl-prev:hover, .post-widget .owl-next:hover,
.shop-item .inner-box .image .overlay-box .cart-option li a:hover,
.shop-item .inner-box .image .overlay-box .cart-option li a,
.projects-page-section .filters .filter-tabs .filter:before,
.projects-page-section .filters .filter-tabs .filter:after,
.accordion-box.style-two .block.active-block::before,
.project-section .owl-prev, .project-section .owl-next,
.project-block .inner-box .image .overlay-box .icons .plus,
.project-block .inner-box .image .overlay-box .icons .link,
.main-menu .navigation > li > ul > li:hover > a,
.main-menu .navigation > li > ul > li > ul > li:hover > a,
.team-section .carousel-column .owl-nav .owl-prev,
.team-section .carousel-column .owl-nav .owl-next,
.testimonial-section .owl-dots .owl-dot.active,
.main-footer .footer-widget h2:after,
.footer-style-two .footer-widget h5:after,
.project-section-three .owl-dots .owl-dot.active,
.accordion-box .block .icon-outer .icon,
.main-header .info-box .social-box li a,
.blog-cat li.active a, .blog-cat li a:hover,
.blog-cat-two li.active a, .blog-cat-two li a:hover,
.project-block .inner-box .content-column .inner-column,
.project-tab .product-tab-btns .p-tab-btn:after,
.news-block-two .inner-box .image .owl-nav .owl-prev,
.news-block-two .inner-box .image .owl-nav .owl-next,
.news-block-two .inner-box .image .overlay-box .icon,
.ui-state-active, .ui-widget-content .ui-state-active,
.project-section-three .title-box .video-column .play-box .play-icon,
.testimonial-section-two .owl-prev, .testimonial-section-two .owl-next,
.main-header .header-top-two .language .dropdown-menu > li > a:hover,
.testimonial-section .owl-nav .owl-prev, .testimonial-section .owl-nav .owl-next,
.main-header .outer-box .option-box .cart-box .cart-panel .btns-boxed li a,
.main-header .outer-box .option-box .cart-box .cart-box-btn .total-cart,
.main-header .header-top .language .dropdown-menu > li > a:hover,
.projects-single-section .carousel-box .owl-nav .owl-prev:hover,
.projects-single-section .carousel-box .owl-nav .owl-next:hover{
	background-color:#bb54e1;
}

/*Border Color*/

.btn-style-two,
.btn-style-four,
.btn-style-five,
.btn-style-three:hover,
.sidebar-title-two h2,
.styled-pagination li.active a,
.styled-pagination li a:hover,
.shop-form input:focus,
.shop-form select:focus,
.shop-form textarea:focus,
.styled-form input:focus,
.styled-form select:focus,
.styled-form textarea:focus,
.blog-cat-two li.active a, .blog-cat-two li a:hover,
.main-header.header-style-three .header-upper,
.main-menu .navigation > li > ul,
.cart-section .apply-coupon .form-group input[type="text"],
.sponsors-section-two .sponsors-outer .image-box:hover,
.main-menu .navigation > li > ul > li > ul,
.main-header .header-lower .search-box-outer .dropdown-menu,
.main-header .header-lower .search-panel input:focus,
.main-header .header-lower .search-panel select:focus,
.quote-form .form-group input[type="text"]:focus,
.quote-form .form-group input[type="tel"]:focus,
.quote-form .form-group input[type="email"]:focus,
.quote-form .form-group textarea:focus,
.main-header .header-top-two .language .dropdown-menu,
.sponsors-section .sponsors-outer .image-box:hover,
.ui-state-active, .ui-widget-content .ui-state-active,
.default-form .form-group input[type="text"]:focus,
.default-form .form-group input[type="password"]:focus,
.default-form .form-group input[type="tel"]:focus,
.default-form .form-group input[type="email"]:focus,
.default-form .form-group select:focus,
.default-form .form-group textarea:focus,
.faq-form .form-group input[type="text"]:focus,
.faq-form .form-group input[type="tel"]:focus,
.faq-form .form-group input[type="email"]:focus,
.faq-form .form-group textarea:focus,
.blog-cat li.active a, .blog-cat li a:hover,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.newsletter-section-two .newsletter-form .form-group input[type="email"]:focus,
.main-header .outer-box .option-box .cart-box .cart-panel .btns-boxed li a,
.main-header .outer-box .option-box .cart-box .cart-panel,
.main-header .header-top .language .dropdown-menu,
.contact-form .form-group input[type="text"]:focus,
.contact-form .form-group input[type="password"]:focus,
.contact-form .form-group input[type="tel"]:focus,
.contact-form .form-group input[type="email"]:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus{
	border-color:#bb54e1;
}

.time-counter .time-countdown .counter-column{
	border-bottom-color:#bb54e1;
}

/*RGBA Color Light*/

/*RGBA Color Dark*/

.newsletter-section:before,
.call-to-action-section-two:before{
	background-color:rgba(187,84,225,0.90);
}

.services-block-five .inner-box .image .overlay-box{
	background-color:rgba(187,84,225,0.80);
}

@media only screen and (max-width: 767px){
	
	.main-menu .navbar-header .navbar-toggle{
		border-color:#bb54e1;
	}
	
	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a,
	.header-style-two.inner-header .main-menu .navigation > li > a{
		background-color:#bb54e1;
	}
	
}